html{
    background: linear-gradient(to right, #884A39, #C38154);
    text-align: center;
}
header{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F9E0BB;
}
img:hover {
    border: 1px solid black;
}

h1{
    color: #F9E0BB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F9E0BB;
}
h1:hover{
        font-family: 'Bungee Spice', cursive;
        

}
.first{
    height: 400px;
    width: 300px;
    border: 5px solid #F9E0BB;
}
img.first:hover {
    border: 6px solid #F97B22;

}
/* img:hover {
    border: 1px solid #F97B22;
} */
h2{
    color: #F9E0BB;
    font-family: 'Nabla', cursive;   
}
div {
        margin: 15px;
        border: 1px solid #ccc;
        display:flex;
        flex-flow: row wrap;
        width: 250px;
        background: linear-gradient(to left, #884A39, #C38154);

      
}
div img {
    width: 250px;
    height: 250px;
  }
  div:hover {
    border: 1px solid #777;
  }
  .box {
    flex-basis: 20%;
    width: 100%;
    padding: 10px;
    margin: 8px;
}